@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800&family=Instrument+Sans:wght@400;500;600;700&family=Kanit:wght@100&family=Lekton:wght@400;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100&family=Space+Grotesk:wght@300&display=swap");
.gradient-text {
  letter-spacing: -1.44px;
  background: -webkit-linear-gradient(
    70deg,
    rgb(185, 187, 193),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.path-1 {
  clip-path: polygon(
    20% 0%,
    0% 20%,
    15% 39%,
    0% 80%,
    20% 100%,
    59% 100%,
    80% 100%,
    81% 85%,
    99% 62%,
    94% 48%,
    48% 38%,
    40% 0
  );
}
@keyframes a {
  100% {
    transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
  }
}
.a {
  animation: a 50s cubic-bezier(0.4, 0, 0.6, 1) alternate infinite;
  -webkit-animation: a 50s cubic-bezier(0.4, 0, 0.6, 1) alternate infinite;
}
